.books {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
	color: #fff;
}

.books__error {
	text-align: center;
	color: #f5114a;
}

.books-items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 300px);
	gap: 20px;
	color: #000;
}

.books__btn {
	margin: 30px auto 0;
	border: none;
	outline: none;
	background-color: #dc143c;
	color: #fff;
	height: 50px;
	width: 100%;
	max-width: 100px;
	cursor: pointer;
}

.books__btn:hover {
	opacity: 0.8;
}
